@import "_reset.scss";
@import "range-slider.scss";

body{
    background-image: url(../img/background.jpg);
    // background-size: cover;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: black;
  } *,
    *:before,
  *:after {
    box-sizing: border-box;
  }
.mainer{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
}

.header{
  padding: 10px 0px;
  height: 85px;
  width: 100%;
  background-color: black;
  border-bottom: 10px #3d3d3d solid;

  @media screen and (max-width: 475px){
    height: 75px;
   }
}

.nav{
  display: flex;
  justify-content: flex-start;

  &__item{
    margin: 0 20px;
    float: left;
    font-size: 50px;
    align-items: flex-end;
    @media screen and (max-width: 475px){
      font-size: 40px;
      margin: 0 10px;
     }
    &-last{
      color: #fff;
      // padding: 0 0 0 80px;
      @media screen and (max-width: 475px){
        display: none;
      }
    } 
  }

  &__item a{
    text-decoration: none;
    color: white;
    transition: color .2s linear;
    &:hover{
      color: #3d3d3d;  
    }
  }
}

.block-map{
  padding: 20px 0;

  &__map{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 700px;
    border-top: 0px;
    border: 10px #3d3d3d solid;
    border-radius: 4px;
    @media screen and (max-width: 475px){
      height: 620px;
     }
  }
}
.box{
  position: relative;
  width: 100%;
  height: 100%;
}

.block-filter{
  top:0px;
  right: 0px;
  position: absolute;
  background-color:#f2f2f2b6;
  border: 10px #3d3d3d solid;
  border-bottom: 6px #3d3d3d solid;
  border-left: 6px #3d3d3d solid;
  border-radius: 4px;
  height: 400px;
  width: 300px;
  z-index: 5;
  
  &__item{
    margin:20px 0;
  }
  &__title-container{
    display: block;
    position: relative;
    padding-left: 5px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover input ~ .block-filter__checkbox{
      background-color: rgba(204, 204, 204, 0.645);
    }
    
  }
  .block-filter__title-container input:checked ~ .block-filter__checkbox{
    background-color: #000;
  }
  

  &__checkbox{
    position: absolute;
    top: -1px;
    left: 80px;
    height: 22px;
    width: 22px;
    border: 2px solid #3d3d3d;
    border-radius: 4px;
    background-color: rgba(238, 238, 238, 0.618);
    &::after{
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 1px;
      width: 7px;
      height: 13px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

  }
  .block-filter__title-container input:checked ~ .block-filter__checkbox:after{
    display: block;;
  }
  &__checkbox-input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    
  }
    @media screen and (max-width: 475px){
      display: none;
      width: 99%;
    }
  &__mob{
    display: none;
    @media screen and (max-width: 475px){
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      height: 65px;
      width: 65px;
      color: rgba(255, 255, 255, 0.823);
      text-align: center;
      font-size: 35px;
      background-color: rgba(0, 0, 0, 0.823);
      border: 10px #3d3d3d solid;
      border-bottom: 6px #3d3d3d solid;
      border-left: 6px #3d3d3d solid;
      border-radius: 4px;
      cursor: pointer;
      z-index: 10;
    }
  }
}

.fa-arrow-icon{
  padding: 0 0 0 18px;
  color: #ffffff;
  font-size: 50px;
  &_up{
    transition: 0.2s linear;
    transform: rotateX(180deg);
  }
}

.fa-filter{
    position: relative;
    top: 7px;
}

.block-form{
  
  &__caption{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px; 
    @media screen and (max-width: 475px){
      font-size: 18px;
      text-align: center;
    }
  }

  &__arrow{
    display: flex;
    margin: 0 auto 30px auto;
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;

    &:hover > i{
      transition: color .2s linear;
      color: #3d3d3d; 
    }
    &:active{
      width: 58px;
      height: 58px;
      margin: 0 auto 32px auto;
    }
    &:active > i{

      font-size: 45px;
    }
  }

  &__form{

  
  border: 10px #3d3d3d solid;
  margin: 0 auto 20px auto;
  font-size: 15px;
  max-width: 400px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;

  &_active{
    display: block;
  }
  @media screen and (max-width: 475px){
    width: 100%;
   }
}
}

// **********************************

.inputs{
width: 100%;
padding: 12px 20px;
margin: 10px 0;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type=submit] {
width: 100%;
font-size: 15px;
letter-spacing: 2px;
background-color: #000;
color: white;
padding: 14px 20px;
margin-top: 5px;
border: none;
border-radius: 4px;
cursor: pointer;
transition: color .2s linear;


  &:hover {
    color: #3d3d3d;  
  }
}


.label{
  padding: 5px 0;
  font-weight: bold;
  font-size: 15px;
}

.footer{
  width: 100%;
  height: 50px;
  background-color: #000;
}



